<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="de.fraunhofer.iem.reqpat.rmf.presentation.headline.provider.HeadlinePresentationServiceItemProviderAdapterFactory"
            uri="http://de.fraunhofer.iem.reqpat.rmf.presentation.headline"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="de.fraunhofer.iem.reqpat.rmf.presentation.headline.HeadlinePresentationServicePackage"
            genModel="model/headlinepresentationservice.genmodel"
            uri="http://de.fraunhofer.iem.reqpat.rmf.presentation.headline">
      </package>
   </extension>
   <extension
         point="org.eclipse.rmf.reqif10.pror.editor.presentation">
      <presentation
            name="HeadlinePresentationService"
            service="de.fraunhofer.iem.reqpat.rmf.presentation.headline.ui.HeadlinePresentationService">
      </presentation>
   </extension>

</plugin>
